<!DOCTYPE html>
<html lang="<%- theme.language %>">

<%- partial('./components/head') %>

    <body>
        <%- partial('./components/layout-header') %>
        <%- partial('./components/layout-main') %>
        <%- partial('./components/layout-footer') %>
        <%- partial('./components/script') %>
    </body>

</html>