<% 
    let isheaderbg = (post.headerbg && post.headerbg.length>0);
    let isHome= is_home();
%>
<article class="shadow animated fadeInUp">
    <header class="post-header <%- isheaderbg?'post-header-bg-img':'' %>">
        <% if(isheaderbg){%>
            <img class="bg-img" src="<%- post.headerbg[0] %>" alt="">
        <% }%>
        <div class="post-container" style="color: <%- isheaderbg ? (post.headerbg[1] ? post.headerbg[1]: '#000'): '' %>">
            <h2 class="post-title">
                <% if(isHome){%>
                    <a class="_pjax" href="<%- url_for(post.path) %>">「<%= post.title %>」</a>
                <%}else{%>
                    「<%- post.title %>」
                <%}%>
            </h2>
            <div class="post-meta">
                <div>
                    <span class="post-push-time">
                        <time datetime="<%= date_xml(post.date) %>" title="<%= date_xml(post.date) %>" itemprop="datePublished">
                           <i class="iconfont cg-shijian"></i> 
                           <%= date(post.date,config.date_format) %>
                        </time>
                        <span class="post-meta-divider">•</span>
                    </span>
                    <% if(post.categories){ %>
                    <span>
                        <i class="iconfont cg-tag1"></i> 
                        <%- post.categories.data[0].name %>
                        <span class="post-meta-divider">•</span>
                    </span>
                    <span>
                        <i class="iconfont cg-tag1"></i> 
                        <a class="_pjax" href="/categories/<%- post.categories.data[0].name %>"><%- post.categories.data[0].name %></a>
                    </span>
                    <% } %>
                </div>
                <%if(theme.post_wordcount.wordcount){%>
                    <span class="post-wordcount">
                        <span class="post-meta-item-text">
                            <i class="iconfont cg-wendang"></i> 
                            <%- __('post.word_count',wordcount(post.content)) %>
                        </span>
                        <span class="post-meta-divider">•</span>
                    </span>
                <%}%>
                <%if(theme.post_wordcount.min2read){%>
                    <span class="post-consuming-time">
                        <span class="post-meta-item-text">
                            <i class="iconfont cg-shalou"></i> 
                            <%- __('post.min2read',min2read(post.content)) %>
                        </span>
                    </span>
                <%}%>
            </div>
        </div>
    </header>
    <div id="nice" class="post-content <%- isHome?'':'post-content-detail' %>">
        <% if(isHome){%>
            <%if(post.excerpt){%>
                <%-  post.excerpt %>
            <%}else{%>
                <%- post.content.substring(0,200)%>
                <%- post.content.length>200?'...':'' %>
            <%}%>
        <%}else{%>
            <%- post.content %>
        <%}%>
        <% if(post.tags.length>0){ %>
            <div class="post-content-tag">
                <svg class="cg-icon" aria-hidden="true">
                    <use xlink:href="#cg-tag"></use>
                </svg>
                <% post.tags.forEach(item => { %>
                    <a class="_pjax" href="/tags/<%- item.name %>">
                        <span><%- item.name %></span>
                    </a>
                <% })%>
            </div>
        <%}%>
    </div>
</article>
<% if(is_post()){%>
    <%- partial('./share') %>
    <%- partial('./next') %>
    <%# post.comment? partial('./comment',{comtitle:"评论"}):'' %>
<%}%>

