<header class="layout-content-header">
    <div class="shape">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="banner" data-text="<%- theme.user.name %>" data-interval="100">
        <div class="title-inner">
            <%- theme.user.name %>
        </div>
        <div class="user-des">
            <% let descln= theme.user.title.length+3  %>
            <span style="width:<%- descln %>em;animation: typing 10s steps(<%- descln  %>), caret 0.5s steps(1) infinite;">
                「<%= theme.user.title %>」
            </span>
        </div>
    </div>
</header>