<%# 分类页面 %>
<%
let title='';
if(is_archive()){ title='归档';}
else if(is_category()) { title='归档 - '+page.category ;} 
else if(is_tag()) { title='标签 - '+page.tag;} 
%>
<article class="">
    <header class="post-header">
        <div class="post-container">
            <h2 class="post-title">「 <%- title %> %> 」</h2>
        </div>
    </header>
    <% if(is_archive()){%>
        <div class="category-all-page ">
            <div class="category-title">分类</div>
            <%- list_categories({
                style:"",
                separator:""
            }) %>
        </div>
    <%}%>

    <div class="timeline">
        <% var lastDate;page.posts.forEach(function(element) { %>
            <%var vdate=date(element.date,'YYYY');%>
            <%if(lastDate !=vdate) {%>
                <div class="timeline-item">
                    <div class="timeline-time timeline-time-year">
                        <time datetime="<%- vdate %>" title="<%- vdate %>" itemprop="datePublished">
                            <%- vdate %>
                        </time>
                    </div>
                </div>
            <% };%>
            <% lastDate=vdate; %>
                <div class="timeline-item">
                    <div class="timeline-time">
                        <time datetime="<%- element.date %>" title="<%- element.date %>" itemprop="datePublished">
                            <%- date(element.date,'MM-DD') %>
                        </time>
                    </div>
                    <div class="timeline-content">
                        <a class="title-link _pjax" href="<%- url_for(element.path) %>" itemprop="url">
                            <%= element.title %>
                        </a>
                    </div>
                </div>
        <% }) %>
    </div>
</article>
