<!DOCTYPE html>
<html lang="zh-cn">

<%- partial('./components/head') %>

<body>
    <%- partial('./components/header') %>
    <div class="layout-content">
        <header class="layout-content-header">

        </header>
        <div class="layout-content-main">
            <%- partial('./components/aside') %>
            <main>
                <%- body %>
            </main>
        </div>
    </div>
    <%- partial('./components/footer') %>
    <%- partial('./components/settings') %>
    <%- partial('./components/script') %>
</body>

</html>