<!DOCTYPE html>
<html lang="<%- theme.language %>">

<%- partial('./components/head') %>

<body>
    <div class="page-img-bg"></div>
    <%- partial('./components/layout-header') %>
    <div class="layout-content">
        <%- partial('./components/layout-content-header') %>
        <div class="layout-content-content">
            <%- partial('./components/layout-content-aside') %>
            <%- partial('./components/layout-content-main') %>
        </div>
    </div>
    <%- partial('./components/layout-footer') %>
    <%- partial('./components/settings') %>
    <%- partial('./components/script') %>
</body>

</html>