<%# 分类详情 %>
<%- partial('./components/detial-header', {post: {type:'categories'},title:page.category}) %>
<div class="fadeInUp animated category-card">
        <h3 class="archive-page-counter">
            共计 <%- page.posts.length %> 篇。 (゜-゜)つロ 干杯~
        </h3>
        <div class="timeline">
            <div class="timeline-date">
                <h2><%- page.category %> </h2>
            </div>
            <% page.posts.forEach(function(element) { %>
            <div class="timeline-item">
                <span class="post-time">
                    <time datetime="<%- element.date %>" title="<%- element.date %>" itemprop="datePublished">
                        <%- date(element.date,'YYYY-MM-DD') %>
                    </time>
                </span>
                <a class="title-link" href="<%- url_for(element.path) %>" target="_blank" itemprop="url">
                    <%= element.title %>
                </a>
            </div>
            <% }) %>
        </div>
</div>