<%# 首页 %>
<main class="container">
    <header class="header fadeIn animated">
        <div class="header-content">
            <div id="user-center" class="user-center">
                <div>
                    <img class="user-avatar" src="<%= theme.user.avatar %>">
                    <div class="user-des">
                        <% let descln= theme.user.desc.length  %>
                        <span style="width: <%= descln %>em;animation: typing 2.5s steps(<%= descln  %>), caret 0.5s steps(1) infinite;">
                            <%= theme.user.desc %>
                        </span>
                    </div>
                </div>
                <ul class="menu">
                    <% for (const key in theme.menu) { %>
                    <li title="<%= __(`menu.${key}`) %>">
                        <a href="<%- (key=='qq')?theme.menu[key]:url_for(theme.menu[key])%>" >
                            <!-- <i class="iconfont cg-<%- key %>"></i> -->
                            <!-- <%= __(`menu.${key}`) %> -->
                            <svg class="cg-icon" aria-hidden="true">
                                <use xlink:href="#cg-<%- key %>"></use>
                            </svg>
                        </a>
                    </li>
                    <% } %>
                    <% if(theme.rss){%>
                    <li title="rss">
                        <a href="<%- url_for(theme.rss)%>" rel="alternate">
                            <svg class="cg-icon" aria-hidden="true">
                                <use xlink:href="#cg-rss"></use>
                            </svg>
                            <!-- RSS -->
                        </a>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
        <div class="video-content">
            <video id="bgvideo"></video>
            <div id="video-btn" class="video-btn cg-bofang iconfont loadvideo"></div>
            <div class="video-msg"></div>
        </div>

    </header>
    <main class="main" id="main">
        <section id="posts" class="posts-expand">
            <% page.posts.each(function(post,postIndex){ %>
                    <%- partial('./components/index-card',{ post, index: true,postIndex}) %>
                    <% }) %>
        </section>
        <div id="loader" class="loaded">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30"
                style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <rect x="0" y="13" width="4" height="5" fill="#333">
                    <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s"
                        dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s"
                        repeatCount="indefinite" />
                </rect>
                <rect x="10" y="13" width="4" height="5" fill="#333">
                    <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s"
                        dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s"
                        dur="0.6s" repeatCount="indefinite" />
                </rect>
                <rect x="20" y="13" width="4" height="5" fill="#333">
                    <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s"
                        dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s"
                        dur="0.6s" repeatCount="indefinite" />
                </rect>
            </svg>
        </div>
    </main>
</main>
<div class="menu-list">
    <ul>
        <!--<li>            
        </li> -->
        <li class="menu-nav" onclick="this.classList.toggle('active')">
            <div>
                <svg class="hamRotate" viewBox="0 0 100 100" width="60">
                    <path class="line top"
                        d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
                    <path class="line middle" d="m 30,50 h 40" />
                    <path class="line bottom"
                        d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
                </svg>
            </div>
            <ul class="menu">
                <% let num= 0;;for (const key in theme.menu) { %>
                <li class="menu-item" style="animation-delay: <%- ++num*0.05 %>s;left:<%- -(num)*60  %>px"
                    title="<%= __(`menu.${key}`) %>">
                    <a href="<%- url_for(theme.menu[key])%>">
                        <i class="iconfont cg-<%- key %>"></i>
                        <!-- <%= __(`menu.${key}`) %> -->
                    </a>
                </li>
                <% } %>
                <% if(theme.rss){%>
                <li class="menu-item" style="animation-delay: <%- ++num*0.05 %>s;left:<%- -(num)*60  %>px" title="rss">
                    <a href="<%- url_for(theme.rss)%>" rel="alternate">
                        <i class="cg-rss iconfont"></i>
                        <!-- RSS -->
                    </a>
                </li>
                <%}%>
            </ul>
        </li>
    </ul>
</div>
<!-- index.ejs -->
<script>
    window.IndexConfig={
        current:<%= page.current %>,
        total:<%= page.total %>,
        url:"<%= url_for('/')%>",
        loadMore:false,
        videoUrl:['https://download.daidr.me/o_1c9tl2261147r10g67pme355i7a.mp4'],
        headerbg:<%- JSON.stringify(theme.headerbg) %>
    }
</script>