<!DOCTYPE html>
<html lang="zh-cn">
<%- partial('./components/head') %>

<body>
    <div class="app">
        <%- body %>
    </div>

    <%- partial('./components/footer') %>
    <%- partial('./components/back-top') %>
    <%- partial('./components/script') %>
    <script>
        "serviceWorker" in navigator ? navigator.serviceWorker.register('/sw.js').then(function () {
            navigator.serviceWorker.controller ? console.log(
                "Assets cached by the controlling service worker.") : console.log(
                "Please reload this page to allow the service worker to handle network operations.")
        }).catch(function (e) {
            console.log("ERROR: " + e)
        }) : console.log("Service workers are not supported in the current browser.")
    </script>

</body>


</html>