<!DOCTYPE html>
<html lang="zh-cn">
<%- partial('./components/head') %>

<body>
    <div class="app">
        <%- body %>
    </div>
    <div id="container"></div>
    <link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
    <script src="https://jjeejj.github.io/js/gitment.js"></script>
    <script>
    var gitment = new Gitment({

        owner: 'MaLuns',
        repo: 'MalBlog',
        oauth: {
            client_id: 'b971d416833059d04dc7',
            client_secret: '92cacb8f281b908089f86701b66cc9afa11772db',
        },
    })
    gitment.render('container')
    </script>
    <%- partial('./components/footer') %>
    <%- partial('./components/back-top') %>
    <%- partial('./components/script') %>
    <script>
        "serviceWorker" in navigator ? navigator.serviceWorker.register('/sw.js').then(function () {
            navigator.serviceWorker.controller ? console.log(
                "Assets cached by the controlling service worker.") : console.log(
                "Please reload this page to allow the service worker to handle network operations.")
        }).catch(function (e) {
            console.log("ERROR: " + e)
        }) : console.log("Service workers are not supported in the current browser.")
    </script>

</body>

</html>