<!DOCTYPE html>
<html>
    <%- partial('./_partial/head') %>

    <body>
        <main class="container">
            <%- partial('./_partial/header') %>
            <main class="main">
                <%- body %>
            </main>
            <%- partial('./_partial/footer') %>
            <canvas id="canvasbg"></canvas>
            <div class="back-to-top" id="back-to-top">
                <div></div>
            </div>
        </main>
        <%- js('./js/index.min') %>
    </body>

</html>