<%- partial('../components/detial-header', {post: page}) %>
<div>
  <div
    style="width: 750px;margin: auto;left: 0;right: 0;background: #fff;padding: 80px 20px 0;">
    <%- post.content %>
    <% if(post.prev || post.next){ %>
      <div class="prev-next-content">
          <div class="btn-prev">
              <% if(post.prev){ %>
                  <div>上一篇</div>
                  <a href="<%- url_for(post.prev.path) %>"><%- post.prev.title %></a>
              <%}%>
          </div>
          <div class="btn-next">
              <% if(post.next){ %>
                  <div>下一篇</div>
                  <a href="<%- url_for(post.next.path) %>"><%- post.next.title %></a>
              <%}%>
          </div>
      </div>
  <% } %>
  </div>
</div>
<div class="testttt">

</div>
<script>
  let types = "<%= post.categories.data[0].name %>";
  let letters = (
    types +
    "·" +
    document
    .querySelectorAll(".shinchou-menu a")[0]
    .textContent.replace(/[\r\n]/g, "")
    .replace(/\ +/g, "")
  ).split("");

  document.querySelectorAll(".shinchou-menu a")[0].textContent = "";
  letters.forEach((letter, i) => {
    if (letter != " " && letter != "") {
      let span = document.createElement("span");
      span.textContent = letter;
      if (i < types.length) {
        span.className = "highlight-txt";
      }
      span.style.transitionDelay = `${i / 10}s`;
      document.querySelectorAll(".shinchou-menu a")[0].append(span);
    }
  });
</script>