<article class="shadow links-card">
    <header class="post-header">
        <div class="post-container">
            <h2 class="post-title">
                友情链接
            </h2>
        </div>
    </header>
    <div>
        <blockquote class="blockquote">
            欢迎互换友链
        </blockquote>
        <div class="links-list">
            <% theme.links.forEach(item=>{%>
            <div class="links-list-item">
                <a href='<%- item.url %>' target='_blank'>
                    <img class="" src="<%- item.image %>">
                    <div>
                        <h3><%- item.name %></h3>
                        <p><%- item.desc %></p>
                    </div>
                </a>
            </div>
            <%})%>
        </div>
    </div>
</article>
<%- partial('../components/comment',{comtitle:"欢迎互换友链"}) %>