<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="theme-color" content="#317EFB" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=0" name="viewport">
    <meta name="keywords" content="<%= page.keywords %>,<%= config.keywords %>">
    <%- open_graph() %>
    <% if(page.description){%>
        <meta name="description" content="<%= page.description %>">
    <%}else if(config.description){%>
        <meta name="description" content="<%= config.description %>">
    <%}%>
    <title><%= config.title %><%= (!!page.title?' - ' + page.title:'') %></title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= url_for(theme.favicon.narmal) %>?v=<%= theme.version %>">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <% if(theme.canonical){%>
        <link rel="canonical" href="<%- config.url %>/<%- page.canonical_path.replace('index.html', '') %>"/>
    <% }%>
    <% theme.cdn.css.forEach(item=>{ %>
        <link rel="stylesheet" href="<%- item %>">
    <% })%>

    <%- css('css/index.css?v='+theme.version) %>
    <script type="text/javascript">
        ~function () {
            let setting = localStorage.getItem('setting') ? JSON.parse(localStorage.getItem('setting')) : {};
            let root = document.documentElement;
            for (let key in setting) {
                if (key === 'lightSwitch') {
                    root.classList[setting[key] ? 'add' : 'remove']('dark')
                } else if(key === 'themeColorPicker'){

                } else {
                    setting[key].css.forEach(item => { root.style.setProperty(item.key, item.val); })
                }
            }
        }();
    </script>
</head>