<footer class="layout-footer">
    © 2019 -
    <span itemprop="copyrightYear">
        <%= date(Date.now(), "YYYY" ) %>
    </span>
    <%= config.title %> ·
        Theme by <a href="https://github.com/MaLuns/hexo-theme-text" target="_blank">hexo-theme-simple </a>·
        <%- __('footer.tips') %>:
        <span id="since"></span>
        
        <button type="button" class="back-btn" title="back top" id="back-top">
            <svg t="1631630154041" class="icon" viewBox="0 0 1025 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="39580" width="24" height="24">
                <path d="M608.067279 368.074518c-28.61477-28.444444-67.449102-46.499002-111.052562-46.499002h-4.939454c-42.070526 0-80.904857 18.054558-109.349302 47.350632-27.592814 28.444444-45.30672 68.300732-45.306719 112.074517v421.897539c0 13.796407 11.071191 24.867598 24.867598 24.867598h7.324018c13.796407 0 24.867598-11.071191 24.867598-24.867598V524.263473c0-34.916833 6.472389-66.427146 24.526947-89.080506 9.367931-11.582169 31.680639-42.240852 74.432468-42.240851 60.636061 0 73.751164 31.169661 78.520293 37.471723 18.054558 23.675316 22.142382 58.932801 22.142382 93.849634v303.180306c0 35.598137-9.878909 67.10845-28.614771 90.443114-18.224884 23.164338-63.020625 37.642049-91.635396 37.642049-13.796407 0-26.400532 10.049235-25.719228 25.719228l0.85163 17.884232c0 13.796407 11.071191 24.867598 24.867598 24.867598h2.725216c43.60346 0 103.898869-18.054558 131.491684-47.350632 28.61477-29.296075 46.15835-68.982036 46.15835-113.777778V481.000665c0.170326-43.944112-17.713906-83.459747-46.15835-112.926147z m0 0" p-id="39581"></path>
                <path d="M406.230951 966.940785l0.170326 42.411178c0 8.005323-6.472389 14.477711-14.477711 14.477711h-41.218895c-7.324019 0-13.285429-5.961411-13.285429-13.285429v-43.944112c0-7.494345 5.961411-13.455755 13.455755-13.455755h43.262807c6.472389 0 12.774451 4.087824 12.093147 13.796407M454.60354 80.053227c22.823686-23.164338 60.125083-23.50499 82.778443-0.340652 0.681304 0.85163 1.532934 1.532934 2.214238 2.384564 105.091151 104.069195 368.926148 376.250166 455.792415 466.011976 10.219561 10.560213 28.274118 3.40652 28.274118-11.411843v-59.614105c0-4.25815-1.70326-8.175649-4.598802-11.241517L609.940865 46.499002C579.79316 15.499667 539.425895 0 499.569607 0c-39.515635 0-79.882901 15.499667-110.200931 46.499002L5.113187 440.292748c-3.236194 3.40652-5.10978 8.005323-5.10978 12.774451v58.421823c0 13.966733 16.862275 20.779774 26.570858 10.730539 81.415835-84.992681 328.047904-342.014637 427.347971-441.48503 0.170326-0.170326 0.340652-0.510978 0.681304-0.681304z m-64.212908 79.371923" p-id="39582"></path>
            </svg>
        </button>
</footer>
<script type="text/javascript">
    function show_date_time() {
        window.setTimeout("show_date_time()", 1000);
        BirthDay = new Date("11/19/2019 17:00:00");
        today = new Date();
        timeold = (today.getTime() - BirthDay.getTime());
        sectimeold = timeold / 1000
        secondsold = Math.floor(sectimeold);
        msPerDay = 24 * 60 * 60 * 1000
        e_daysold = timeold / msPerDay
        daysold = Math.floor(e_daysold);
        e_hrsold = (e_daysold - daysold) * 24;
        hrsold = `00${Math.floor(e_hrsold)}`;
        e_minsold = (e_hrsold - hrsold) * 60;
        minsold = `00${Math.floor((e_hrsold - hrsold) * 60)}`;
        seconds = `00${Math.floor((e_minsold - minsold) * 60)}`;
        since.innerHTML = daysold + "<%- __('footer.day') %>" + hrsold.substr(hrsold.length - 2, 2) + "<%- __('footer.hours') %>" + minsold.substr(minsold.length - 2, 2) + "<%- __('footer.minute') %>" + seconds.substr(seconds.length - 2, 2) + "<%- __('footer.second') %>";
    }
    show_date_time();
    window.console.log(`%c hexo-theme-simple %c <%- theme.version %> `, `background:#35495E; padding: 1px; border-radius: 3px 0 0 3px; color: #fff;`, `padding: 1px; border-radius: 0 3px 3px 0;  color: #fff;background:#409EFF;`, `background:transparent`)
</script>