<header class="fadeInDown animated detial-header">
  <% if(post.type==='links' || post.type==='categories'){%>
    <div class="links-title">
      <%- title %>
    </div>
  <%}else{%>
    <div class="post-detial-title">
      <h2>
        <%- post.title %>
      </h2>
      <div>
        <% if (post.categories && post.categories.length){ %>
            <% post.categories.forEach(item=>{ %>
            <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
              <a href="<%= url_for(item.path) %>" itemprop="url" rel="index">
                <span itemprop="name"><%= item.name %></span>
              </a>
            </span>
            <% }) %>
          <% } %>
          <span>•</span> 
          <span>
            <%- date(post.date) %>
          </span>
          <% if(theme.busuanzi){ %>
          <span id="busuanzi_container_page_pv">
            <span class="post-meta-divider">•</span>
            预览
            <span id="busuanzi_value_page_pv"></span>
            次
          </span>
          <% } %>
      </div>
    </div>
  <%}%>
</header>
