<article id="<%= post.layout %>-<%= post.slug %>"  class="post fadeInUp animated"  itemscope  itemprop="blogPost">
  <div class="post-card">
    <div class="<%- postIndex%2==0?'right':'left'%> post-card-img">
      <% if(post.photos.length >0) {%>
        <img src="<%- url_for(post.photos[0]) %>" alt="" />
      <% }else{ %>
        <img src="<%- url_for('/images/notimage.png') %>" alt="" />
      <%}%>
    </div>
    <div class="<%- postIndex%2==0?'left':'right'%> post-card-txt">
      <div>
        <span class="post-time">
          <time datetime="<%= date_xml(post.date) %>" title="<%= date_xml(post.date) %>" itemprop="datePublished">
            <i class="cg-shijian iconfont"></i> 发布于 <%= date(post.date,config.date_format) %>
          </time>
        </span>
      </div>
      <h3 itemprop="name" class="post-title">
        <a class="post-title-link" href="<%- url_for(post.path) %>" ><%= post.title %></a>
      </h3>
      <div class="post-meta">
        <span class="post-wordcount">
          <span class="post-meta-item-text"><%- __('post.word_count',wordcount(post.content)) %></span>
          <span class="post-meta-divider">•</span>
        </span>
        <span class="post-consuming-time">
          <span class="post-meta-item-text"><%- __('post.min2read',min2read(post.content)) %></span>
        </span>
      </div>
      <div class="post-excerpt">
        <%if(post.excerpt){%> 
            <%- post.excerpt.substring(0,70) %> 
            <%- post.excerpt.length>70?'...':'' %>
        <%}else{%>
           <%- post.content.substring(0,70)%> 
           <%- post.content.length>70?'...':'' %>
        <%}%>
      </div>
      <div class="select-more">
        <a href="<%- url_for(post.path) %>">
          <span class="highlight-txt" style="transition-delay: 0s;">M</span>
          <span class="highlight-txt" style="transition-delay: 0.1s;">M</span>
          <span style="transition-delay: 0.2s;">·</span>
          <span style="transition-delay: 0.3s;">阅</span>
          <span style="transition-delay: 0.4s;">读</span>
          <span style="transition-delay: 0.5s;">全</span>
          <span style="transition-delay: 0.6s;">文</span>
        </a>
      </div>
    </div>
  </div>
</article>

