<header class="header">
    <div class="header-name"></div>
    <div class="header-content">
        <div id="user-center" class="user-center">
            <div>
                <img class="user-avatar" src="<%= theme.user.avatar %>">
                <div class="user-des">
                    <% let descln= theme.user.desc.length  %>
                    <span style="width: <%= descln %>em;animation: typing 2.5s steps(<%= descln  %>), caret 0.5s steps(1) infinite;">
                        <%= theme.user.desc %>
                    </span>
                </div>
            </div>
            <ul class="menu">
                <% for (const key in theme.menu) { %>
                    <li title="<%= __(`menu.${key}`) %>">
                        <a href="<%- (key=='qq')?theme.menu[key].url:url_for(theme.menu[key].url)%>" >
                            <svg class="cg-icon" aria-hidden="true">
                                <use xlink:href="#cg-<%- key %>"></use>
                            </svg>
                        </a>
                    </li>
                <% } %>
                <% if(theme.rss){%>
                    <li title="RSS">
                        <a href="<%- url_for(theme.rss)%>" rel="alternate">
                            <svg class="cg-icon" aria-hidden="true">
                                <use xlink:href="#cg-rss"></use>
                            </svg>
                            <!-- RSS -->
                        </a>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>
    <div class="video-content">
        <video id="bgvideo"></video>
        <div id="video-btn" class="video-btn cg-bofang iconfont loadvideo"></div>
        <div class="video-msg"></div>
    </div>
</header>