<div class="post-block">
    <%- partial('title', {class_name: 'post-title'}) %>
    <div>
        <% if(is_home()){ %>
            <%- post.excerpt %>
            <div class="post-button text-center">
                <a class="btn" href="<%- url_for(post.path) %>" rel="contents">
                        <%- __('post.read_more') %> &raquo;
                </a>
            </div>
        <% } %>
        <% if(is_post()){ %>
            <%- post.content %>
        <% } %>
        <% if(is_tag()){ %>
            is_tagis_tagis_tagis_tagis_tagis_tag
        <% } %>
        <% if(is_category()){ %>
            is_categoryis_categoryis_categoryis_categoryis_category
           
        <% } %>
    </div>
</div>