<header  class="post-header">
  <% if (post.link){ %>
      <h1 itemprop="name" class="<%= class_name %>">
        <a class="post-title-link" class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank"
          itemprop="url"><%= post.title %></a>
      </h1>
  <% } else if (post.title){ %>
      <% if (is_home()){ %>
        <h1 itemprop="name" class="<%= class_name %>">
          <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </h1>
      <% } else { %>
        <h1 itemprop="name" class="<%= class_name %>">
          <a class="post-title-link"><%= post.title %></a>
        </h1>
      <% } %>
  <% } %>
  <div class="post-meta">
      <span class="post-time">
          <time datetime="<%= date_xml(post.date) %>" title="<%= date_xml(post.created) %>" itemprop="datePublished">
            <%= date(post.date, config.date_format) %>
          </time>
      </span>
      <span class="post-wordcount">
        <span class="post-meta-divider">•</span> 
        <span class="post-meta-item-text"><%- __('post.word_count',wordcount(post.content)) %></span> 
        <span class="post-meta-divider">•</span> 
      </span>
      <span class="post-consuming-time">
          <span class="post-meta-item-text"><%- __('post.min2read',min2read(post.content)) %></span> 
      </span>
      <% if(is_post()){ %>
      <span id="busuanzi_container_page_pv" class="post-wordcount">
          <span class="post-meta-divider">•</span> 
         预览<span id="busuanzi_value_page_pv" class="post-meta-item-text"></span>次
      </span>
      <% } %>
  </div>
</header>