<article class="shadow links-card">
    <header class="post-header">
        <h2 class="post-title">
            <%-__('post.links')%>
        </h2>
    </header>
    <div class="linf-info">
        <h4><%-__('site.title')%></h4>
        <p><%-__('site.webmaster')%>：<%- theme.user.name %></p>
        <p><%-__('site.domain')%>：<%- theme.user.domain %></p>
        <p><%-__('site.avatar')%>：<%- theme.user.avatar %></p>
        <p><%-__('site.describe')%>：<%- theme.user.desc %></p>
    </div>
    <div class="links-list">
        <% theme.links.forEach(item=>{%>
            <div class="links-list-item">
                <a href='<%- item.url %>' target='_blank'>
                    <img class="" src="<%- item.image %>">
                    <div>
                        <h3> <%- item.name %> </h3>
                        <p> <%- item.desc %> </p>
                    </div>
                </a>
            </div>
        <%})%>
    </div>
</article>
<%- partial('../components/comment',{comtitle:__('site.comment_title')}) %>