<footer class="footer">
    <div class="footer-inner">
        <p>博客已萌萌哒运行<span id="since"></span><span class="my-face">(●'◡'●)ﾉ♥</span></p>
        <p>© <span itemprop="copyrightYear"><%= date(Date.now(), "YYYY") %></span> <%=  config.title  %>.
            由 <a href="https://hexo.io/" target="_blank" class="external" rel="nofollow">Hexo</a> 强力驱动.
            Theme By <%= config.theme %> v<%=  theme.version %>.
        </p>
        <p>Made with <i class="fa fa-heart throb" style="color: #d43f57;"></i> by <span class="author" itemprop="copyrightHolder"><%=  config.author %></span>. </p>
    </div>
</footer>